.fullitem-details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.fullitem-details-info-right {
    margin-top: 30px;
}

.fullitem-details-info-left {
    text-align: left;
    max-width: 520px;
    align-content: center;
    white-space: normal;
    margin-right: 15px;
}

.fullitem-preview {
    display: flex;
    justify-content: center;
}

.resultsList__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px 120px;
}

.downloads-container {
    margin-top: 40px;
}

.btn-download {
    padding: 20px;
    background: linear-gradient(-30deg, #d754ad 0%, #d754ad 10%, #f96785 62%, #fe7333 100%);
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
}