.header__root {
    background: linear-gradient(-30deg, #d754ad 0%, #d754ad 10%, #f96785 62%, #fe7333 100%);
}

#header__submenu {
    display: flex;
    flex-direction: row;
}

.header__title {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
}

.header_toolbar {
    display: flex;
    justify-content: center;
}

.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
    display: flex;
    justify-content: space-between;
}

.subheader__title {
    padding-left: 15px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    transition: all .4s ease-in-out;
}

.subheader__title:hover {
    color: rgb(68, 68, 68);
}

.selected {
    color: white;
}

@media (max-width:450px) {
    .subheader__title {
        padding-left: 15px;
        cursor: pointer;
        font-size: 0.8rem;
        white-space: nowrap;
        font-weight: bold;
        color: white;
    }
}