.searchbar-search-btn {
    background-color: #0070c9;
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    min-width: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 4px;
    text-align: center;
    white-space: nowrap;
    min-height: 30px;
    font-size: 1.05rem;
    font-weight: bold;
}